{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  keycloak:
    image: "{{ KEYCLOAK_IMAGE }}:{{ KEYCLOAK_VERSION }}"
    container_name: {{ KEYCLOAK_CONTAINER }}
    hostname: {{ KEYCLOAK_CONTAINER_HOSTNAME }}
    command: start{% if KEYCLOAK_DEBUG_ENABLED %} --verbose{% endif %}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ KEYCLOAK_SERVER_HOST }}:8080"
    volumes:
      - "{{ KEYCLOAK_REALM_IMPORT_DIR_HOST }}:{{ KEYCLOAK_REALM_IMPORT_DIR_DOCKER }}"
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% set container_port = 9000 %}
{% set container_healthcheck = 'health/live' %}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
