APP_BASE_URL={{ lookup('tls', application_id, 'url.base') | dotenv_quote }}
KEYCLOAK_REALM_NAME={{ KEYCLOAK_REALM | dotenv_quote }}
SUPER_ADMIN_USERNAME={{ KEYCLOAK_PERMANENT_ADMIN_USERNAME | dotenv_quote }}
SUPER_ADMIN_PASSWORD={{ KEYCLOAK_PERMANENT_ADMIN_PASSWORD | dotenv_quote }}
ADMIN_USERNAME={{ lookup('users', 'administrator').username | dotenv_quote }}
ADMIN_PASSWORD={{ lookup('users', 'administrator').password | dotenv_quote }}
BIBER_USERNAME={{ lookup('users', 'biber').username | dotenv_quote }}
BIBER_PASSWORD={{ lookup('users', 'biber').password | dotenv_quote }}
CANONICAL_DOMAIN={{ (lookup('applications', application_id).server.domains.canonical | first) | dotenv_quote }}
