{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  application:
{% set container_healthcheck = 'health' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ LISTMONK_IMAGE }}:{{ LISTMONK_VERSION }}"
    container_name: "{{ LISTMONK_NAME }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
    volumes:
      - {{ LISTMONK_CONFIG_HOST }}:/listmonk/config.toml
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume')
) }}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
