{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  moodle:
{% set container_port = 8080 %}
    container_name: {{ MOODLE_CONTAINER }}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
    image: {{ MOODLE_IMAGE_CUSTOM }}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - 'code:{{ BITNAMI_CODE_LINK }}'
      - 'data:{{ BITNAMI_DATA_DIR }}'
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'code': {'name': MOODLE_VOLUME_CODE}, 'data': {'name': MOODLE_VOLUME_DATA}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
