CDN_BASE_URL={{ ('https://' ~ (lookup('applications', application_id).server.domains.canonical | first)) | dotenv_quote }}
CANONICAL_DOMAIN={{ (lookup('applications', application_id).server.domains.canonical | first) | dotenv_quote }}
