NGINX_SERVERS_DIR={{ lookup('nginx', 'directories.configuration.servers') }}
ONION_HOST={{ lookup('config', 'svc-net-tor', 'services.tor.node') }}
ONION_PORTS={{ lookup('tor_ports') | map(attribute='onion_port') | unique | sort | join(' ') | dotenv_quote }}
ONION_PORT_RETRIES=2
ONION_PORT_TIMEOUT=60
ONION_SUFFIX={{ 'tor' | network_suffix }}
RETRIES=5
SLEEP_SECONDS=10
TOR_DNSMASQ_CONF={{ TOR_DNSMASQ_CONF }}
TOR_SOCKS={{ lookup('tor_socks') }}
