{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  minio:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: {{ MINIO_IMAGE }}:{{ MINIO_VERSION }}
    container_name: {{ MINIO_CONTAINER }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ MINIO_API_PORT_PUBLIC }}:{{ MINIO_API_PORT_INTERNAL }}"
      - "{{ DOCKER_BIND_HOST }}:{{ MINIO_CONSOLE_PORT_PUBLIC }}:{{ MINIO_CONSOLE_PORT_INTERNAL }}"
    command: server /data --console-address ":{{ MINIO_CONSOLE_PORT_INTERNAL }}"
    volumes:
      - data:/data
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'data': {'name': MINIO_VOLUME}}
) }}
