followus:
  name: Follow Us
  description: Follow us to stay up to date with the latest {{ SOFTWARE_NAME }} updates.
  icon:
    class: fas fa-newspaper

{% if [
  'web-app-mastodon',
  'web-app-bluesky',
  'web-app-pixelfed',
  'web-app-peertube',
  'web-app-wordpress',
  'web-app-friendica',
  'web-app-listmonk'
] | any_in(group_names) %}
  children:
{% if service_provider.contact.mastodon is defined and service_provider.contact.mastodon != "" %}
    - name: Mastodon
      description: Follow {{ 'our' if service_provider.type == 'legal' else 'my' }} updates on Mastodon.
      icon:
        class: fa-brands fa-mastodon
      url: "{{ service_provider.contact.mastodon | fediverse_url(lookup('tls', DASHBOARD_APPLICATION_ID, 'protocols.web')) }}"
      identifier: "{{ service_provider.contact.mastodon }}"
      iframe: {{ lookup('config','web-app-mastodon', 'compose.services.dashboard.enabled') }}
{% endif %}

{% if service_provider.contact.bluesky is defined and service_provider.contact.bluesky != "" %}
    - name: Bluesky
      description: Follow {{ 'our' if service_provider.type == 'legal' else 'my' }} updates on Bluesky.
      icon:
        class: fa-brands fa-bluesky
      alternatives:
        - link: followus.microblogs.mastodon
      identifier: "{{ service_provider.contact.bluesky }}"
{% endif %}

{% if service_provider.contact.pixelfed is defined and service_provider.contact.pixelfed != "" %}
    - name: Pixelfed
      description: Explore {{ 'our' if service_provider.type == 'legal' else 'my' }} photo gallery on Pixelfed.
      icon:
        class: fa-solid fa-camera
      identifier: "{{ service_provider.contact.pixelfed }}"
      url: "{{ service_provider.contact.pixelfed | fediverse_url(lookup('tls', DASHBOARD_APPLICATION_ID, 'protocols.web')) }}"
      iframe: {{ lookup('config','web-app-pixelfed', 'compose.services.dashboard.enabled') }}
{% endif %}

{% if service_provider.contact.peertube is defined and service_provider.contact.peertube != "" %}
    - name: Peertube
      description: Discover {{ 'our' if service_provider.type == 'legal' else 'my' }} videos on Peertube.
      icon:
        class: fa-solid fa-video
      identifier: "{{ service_provider.contact.peertube }}"
      url: "{{ service_provider.contact.peertube | fediverse_url(lookup('tls', DASHBOARD_APPLICATION_ID, 'protocols.web')) }}"
      iframe: {{ lookup('config','web-app-peertube', 'compose.services.dashboard.enabled') }}
{% endif %}

{% if service_provider.contact.wordpress is defined and service_provider.contact.wordpress != "" %}
    - name: WordPress
      description: Read {{ 'our' if service_provider.type == 'legal' else 'my' }} articles and stories.
      icon:
        class: fa-solid fa-blog
      identifier: "{{ service_provider.contact.wordpress }}"
      url: "{{ service_provider.contact.wordpress | fediverse_url(lookup('tls', DASHBOARD_APPLICATION_ID, 'protocols.web')) }}"
      iframe: {{ lookup('config','web-app-wordpress', 'compose.services.dashboard.enabled') }}
{% endif %}

{% if service_provider.contact.friendica is defined and service_provider.contact.friendica != "" %}
    - name: Friendica
      description: Visit {{ 'our' if service_provider.type == 'legal' else 'my' }} Friendica profile.
      icon:
        class: fa-solid fa-network-wired
      identifier: "{{ service_provider.contact.friendica }}"
      url: "{{ service_provider.contact.friendica | fediverse_url(lookup('tls', DASHBOARD_APPLICATION_ID, 'protocols.web')) }}"
      iframe: {{ lookup('config','web-app-friendica', 'compose.services.dashboard.enabled') }}
{% endif %}

{% if service_provider.contact.newsletter is defined
      and service_provider.contact.newsletter != ""
      and 'web-app-listmonk' in group_names %}
    - name: Newsletter
      description: Subscribe to {{ 'our' if service_provider.type == 'legal' else 'my' }} newsletter.
      icon:
        class: fa-solid fa-envelope
      url: "{{ service_provider.contact.newsletter }}"
      iframe: {{ lookup('config','web-app-listmonk', 'compose.services.dashboard.enabled') }}
{% endif %}
{% endif %}
