APP_BASE_URL={{ lookup('tls', DASHBOARD_APPLICATION_ID, 'url.base') }}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
LOGIN_USERNAME={{ lookup('users', 'administrator').username | dotenv_quote }}
LOGIN_PASSWORD={{ lookup('users', 'administrator').password | dotenv_quote }}
CDN_BASE_URL={{ lookup('tls', 'web-svc-cdn', 'url.base') | dotenv_quote }}
DASHBOARD_JS_BASE_URL={{ DASHBOARD_JS_BASE_URL | dotenv_quote }}
MATOMO_BASE_URL={{ lookup('tls', 'web-app-matomo', 'url.base') | dotenv_quote }}
MATOMO_ENABLED={{ lookup('config', application_id, 'compose.services.matomo.enabled') }}
CSS_ENABLED={{ lookup('config', application_id, 'compose.services.css.enabled') }}
CANONICAL_DOMAIN={{ (lookup('applications', application_id).server.domains.canonical | first) | dotenv_quote }}
