{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  # Core services
  resolver:
{% set service_name = 'resolver' %}
    image: {{ MAILU_DOCKER_FLAVOR }}/unbound:{{ MAILU_VERSION }}
    container_name: {{ MAILU_CONTAINER }}_resolver
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - "{{ MAILU_UNBOUND_CONF_FILE }}:/unbound.conf:ro"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
        ipv4_address: {{ MAILU_DNS_RESOLVER }}

  {{ MAILU_FRONT_SERVICE }}:
{% set service_name = MAILU_FRONT_SERVICE %}
    container_name: {{ MAILU_CONTAINER }}_{{ MAILU_FRONT_SERVICE }}
    image: {{ MAILU_DOCKER_FLAVOR }}/nginx:{{ MAILU_VERSION }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:80"
      - "{{ MAILU_IP4_PUBLIC }}:25:25"
      - "{{ MAILU_IP4_PUBLIC }}:465:465"
      - "{{ MAILU_IP4_PUBLIC }}:587:587"
      - "{{ MAILU_IP4_PUBLIC }}:110:110"
      - "{{ MAILU_IP4_PUBLIC }}:995:995"
      - "{{ MAILU_IP4_PUBLIC }}:143:143"
      - "{{ MAILU_IP4_PUBLIC }}:993:993"
      - "{{ MAILU_IP4_PUBLIC }}:4190:4190"
    volumes:
      - "{{ [ MAILU_OVERRIDES_DIR, 'nginx' ] | path_join }}:/overrides:ro"
      - "{{ MAILU_CERT_DIR }}:/certs:ro"
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_incl.yml.j2' %}
      resolver:
        condition: service_started
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
      webmail:
      radicale:
    dns:
      - {{ MAILU_DNS_RESOLVER }}

  admin:
{% set service_name = 'admin' %}
    container_name: {{ MAILU_CONTAINER }}_admin
    image: {{ MAILU_DOCKER_FLAVOR }}/admin:{{ MAILU_VERSION }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - "admin_data:/data"
      - "dkim:/dkim"
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_incl.yml.j2' %}
      resolver:
        condition: service_started
      front:
        condition: service_started
    dns:
      - {{ MAILU_DNS_RESOLVER }}

{% if ( DOCKER_IN_CONTAINER | bool ) and ( MAILU_OIDC_ENABLED | bool ) %}
    extra_hosts:
      - "{{ MAILU_OIDC_HOST }}:host-gateway"
{% endif %}

{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  imap:
{% set service_name = 'imap' %}
    container_name: {{ MAILU_CONTAINER }}_imap
    image: {{ MAILU_DOCKER_FLAVOR }}/dovecot:{{ MAILU_VERSION }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - "dovecot_mail:/mail"
      - "{{ MAILU_OVERRIDES_DIR }}:/overrides:ro"
    depends_on:
      - front
      - resolver
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  smtp:
{% set service_name = 'smtp' %}
    container_name: {{ MAILU_CONTAINER }}_smtp
    image: {{ MAILU_DOCKER_FLAVOR }}/postfix:{{ MAILU_VERSION }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - "{{ MAILU_OVERRIDES_DIR }}:/overrides:ro"
      - "smtp_queue:/queue"
    depends_on:
      - front
      - resolver
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  oletools:
{% set service_name = 'oletools' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    container_name: {{ MAILU_CONTAINER }}_oletools
    image: {{ MAILU_DOCKER_FLAVOR }}/oletools:{{ MAILU_VERSION }}
    hostname: oletools
    depends_on:
      - resolver
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
      noinet:

  antispam:
{% set service_name = 'antispam' %}
    container_name: {{ MAILU_CONTAINER }}_antispam
    image: {{ MAILU_DOCKER_FLAVOR }}/rspamd:{{ MAILU_VERSION }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - "filter:/var/lib/rspamd"
      - "dkim:/dkim"
      - "{{ MAILU_RSPAMD_HOST_DIR }}:/overrides:ro"
    depends_on:
      - front
      - redis
      - antivirus
      - resolver
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
      noinet:  

  antivirus:
{% set service_name = 'antivirus' %}
    container_name: {{ MAILU_CONTAINER }}_antivirus
    image: clamav/clamav-debian:latest
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - "clamav_db:/var/lib/clamav"
    depends_on:
      - resolver
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  webdav:
{% set service_name = 'webdav' %}
    container_name: {{ MAILU_CONTAINER }}_webdav
    image: {{ MAILU_DOCKER_FLAVOR }}/radicale:{{ MAILU_VERSION }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - "webdav_data:/data"
    depends_on:
      - resolver
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
      radicale:

  fetchmail:
{% set service_name = 'fetchmail' %}
    container_name: {{ MAILU_CONTAINER }}_fetchmail
    image: {{ MAILU_DOCKER_FLAVOR }}/fetchmail:{{ MAILU_VERSION }}
    volumes:
      - "admin_data:/data"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    depends_on:
      - admin
      - smtp
      - imap
      - resolver
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  webmail:
{% set service_name = 'webmail' %}
    container_name: {{ MAILU_CONTAINER }}_webmail
    image: {{ MAILU_DOCKER_FLAVOR }}/webmail:{{ MAILU_VERSION }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - "webmail_data:/data"
      - "{{ MAILU_OVERRIDES_DIR }}:/overrides:ro"
    depends_on:
      - imap
      - front
      - resolver
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
      webmail:

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'admin_data': {'name': MAILU_ADMIN_DATA_VOLUME}, 'clamav_db': {'name': MAILU_CLAMAV_VOLUME}, 'dkim': {'name': MAILU_DKIM_VOLUME}, 'dovecot_mail': {'name': MAILU_DOVECOT_MAIL_VOLUME}, 'filter': {'name': MAILU_FILTER_VOLUME}, 'smtp_queue': {'name': MAILU_SMTP_QUEUE_VOLUME}, 'webdav_data': {'name': MAILU_WEBDAV_DATA}, 'webmail_data': {'name': MAILU_WEBMAIL_DATA}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
  radicale:
    driver: bridge
  webmail:
    driver: bridge
  noinet:
    driver: bridge
    internal: true
