{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

{% set service_name = MASTODON_SERVICE_NAME %}
{% set container_port = 3000 %}
{% set container_healthcheck = 'health' %}
  {{ service_name }}:
    container_name: {{ MASTODON_CONTAINER }}
    image: "{{ MASTODON_IMAGE }}:{{ MASTODON_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p {{ container_port }}"
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
    volumes:
      - data:/mastodon/public/system
{% if MASTODON_HTTP_ONLY_ENABLED | bool %}
      - "{{ MASTODON_FORCE_SSL_OVERRIDE_FILE }}:{{ MASTODON_CONTAINER_FORCE_SSL_OVERRIDE_PATH }}:ro"
{% endif %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% set service_name = MASTODON_STREAMING_SERVICE_NAME %}
{% set container_port = 4000 %}
{% set container_healthcheck = 'api/v1/streaming/health' %}
  {{ service_name }}:
    container_name: {{ MASTODON_STREAMING_CONTAINER }}
    image: "{{ MASTODON_STREAMING_IMAGE }}:{{ MASTODON_STREAMING_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: node ./streaming
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.websocket[application_id] }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% set service_name = MASTODON_SIDEKIQ_SERVICE_NAME %}
  {{ service_name }}:
    container_name: {{ MASTODON_SIDEKIQ_CONTAINER }}
    image: "{{ MASTODON_IMAGE }}:{{ MASTODON_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: bundle exec sidekiq
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
    volumes:
      - data:/mastodon/public/system
{% if MASTODON_HTTP_ONLY_ENABLED | bool %}
      - "{{ MASTODON_FORCE_SSL_OVERRIDE_FILE }}:{{ MASTODON_CONTAINER_FORCE_SSL_OVERRIDE_PATH }}:ro"
{% endif %}
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f sidekiq || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'data': {'name': MASTODON_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
