{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

{% set service_name = ODOO_SERVICE %}
  {{ service_name }}:
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        ODOO_IMAGE: "{{ ODOO_IMAGE }}"
        ODOO_VERSION: "{{ ODOO_VERSION }}"
    container_name: {{ ODOO_CONTAINER }}
    image: "{{ ODOO_CUSTOM_IMAGE }}"
    init: true
    stop_signal: SIGTERM
    stop_grace_period: 30s
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
{% set container_port = 8069 %}
{% set container_healthcheck = 'web/health' %}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.websocket[application_id] }}:{{ container_websocket_port }}"
    environment:
      - HOST={{ ODOO_DB_HOST }}
      - USER={{ ODOO_DB_USER }}
      - PASSWORD={{ ODOO_DB_PASSWORD }}
      - ODOO_URL={{ ODOO_URL }}
{% if ODOO_OIDC_ENABLED | bool %}
      - ODOO_OIDC_CLIENT_ID={{ ODOO_OIDC_CLIENT_ID }}
      - ODOO_OIDC_CLIENT_SECRET={{ ODOO_OIDC_CLIENT_SECRET }}
      - ODOO_OIDC_ISSUER_URL={{ ODOO_OIDC_ISSUER_URL }}
      - ODOO_OIDC_TOKEN_URL={{ ODOO_OIDC_TOKEN_URL }}
      - ODOO_OIDC_JWKS_URI={{ ODOO_OIDC_JWKS_URI }}
      - ODOO_OIDC_UID_FIELD={{ ODOO_OIDC_UID_FIELD }}
{% endif %}
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    volumes:
      - {{ ODOO_DATA_VOLUME }}:/var/lib/odoo
      - {{ ODOO_ADDONS_VOLUME }}:/mnt/extra-addons
      - {{ ODOO_CONFIG_VOLUME }}:/etc/odoo
      - "{{ ODOO_CONF_FILE_HOST }}:/etc/odoo/odoo.conf:ro"
      - "{{ ODOO_ADDONS_HOST }}:/mnt/custom-addons:ro"

{% set odoo_extra_volumes = {
  ODOO_DATA_VOLUME: {'name': ODOO_DATA_VOLUME},
  ODOO_ADDONS_VOLUME: {'name': ODOO_ADDONS_VOLUME},
  ODOO_CONFIG_VOLUME: {'name': ODOO_CONFIG_VOLUME}
} %}
{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes=odoo_extra_volumes
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
