APP_BASE_URL={{ lookup('tls', 'web-app-dashboard', 'url.base') }}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
OIDC_BUTTON_TEXT={{ OIDC.BUTTON_TEXT | dotenv_quote }}
TAIGA_BASE_URL={{ lookup('tls', 'web-app-taiga', 'url.base') | dotenv_quote }}
TAIGA_OAUTH2_ENABLED={{ lookup('config', application_id, 'compose.services.oauth2.enabled') | string | lower }}
TAIGA_OIDC_ENABLED={{ lookup('config', application_id, 'compose.services.oidc.enabled') | string | lower }}
LOGIN_USERNAME={{ lookup('users', 'administrator').username | dotenv_quote }}
LOGIN_PASSWORD={{ lookup('users', 'administrator').password | dotenv_quote }}
