{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  application:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: {{ WORDPRESS_CUSTOM_IMAGE }}
    container_name: {{ WORDPRESS_CONTAINER }}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        WORDPRESS_IMAGE:           "{{ WORDPRESS_IMAGE }}"
        WORDPRESS_VERSION:         "{{ WORDPRESS_VERSION }}"
        WORDPRESS_CONFIG_UPLD_REL: "{{ WORDPRESS_CONFIG_UPLD_REL }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:80"
    volumes:
      - data:{{ WORDPRESS_DOCKER_HTML_PATH }}
      - {{ WORDPRESS_MSMTP_ABS }}:/etc/msmtprc:ro

{% include 'roles/sys-svc-container/templates/healthcheck/msmtp_curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'data': {'name': WORDPRESS_VOLUME}}
) }}
