APP_BASE_URL={{ lookup('tls', 'web-app-dashboard', 'url.base') }}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
GITEA_BASE_URL={{ lookup('tls', 'web-app-gitea', 'url.base') | dotenv_quote }}
PROMETHEUS_BASE_URL={{ lookup('tls', 'web-app-prometheus', 'url.base') | dotenv_quote }}
ADMIN_USERNAME={{ lookup('users', 'administrator').username | dotenv_quote }}
ADMIN_PASSWORD={{ lookup('users', 'administrator').password | dotenv_quote }}
