{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ entity_name }}:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        MEDIAWIKI_IMAGE: "{{ MEDIAWIKI_IMAGE }}"
        MEDIAWIKI_VERSION: "{{ MEDIAWIKI_VERSION }}"
    container_name: "{{ MEDIAWIKI_CONTAINER }}"
    image: "{{ MEDIAWIKI_CUSTOM_IMAGE }}"
    volumes:
      - "images:/var/www/html/images"
      - "extensions:/var/www/html/extensions"
      - "{{ MEDIAWIKI_LOCALSETTINGS_HOST_PATH }}:{{ MEDIAWIKI_LOCALSETTINGS_CONTAINER_PATH }}:ro"
      - "{{ MEDIAWIKI_LOCAL_MOUNT_DIR }}:{{ MEDIAWIKI_LOCAL_PATH }}:ro"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'extensions': {'name': MEDIAWIKI_VOLUME_EXTENSIONS}, 'images': {'name': MEDIAWIKI_VOLUME_IMAGES}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
