{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  onlyoffice:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ ONLYOFFICE_IMAGE }}:{{ ONLYOFFICE_VERSION }}"
    container_name: {{ ONLYOFFICE_CONTAINER }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ http_port }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    volumes:
      - data:/var/www/onlyoffice/Data
      - logs:/var/log/onlyoffice
      - fonts:/usr/share/fonts/truetype/custom
      - lib:/var/lib/onlyoffice
      - pgdata:/var/lib/postgresql
      - redisdata:/var/lib/redis
      - rabbitmqdata:/var/lib/rabbitmq
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'data': {'name': ONLYOFFICE_VOLUME_DATA}, 'fonts': {'name': ONLYOFFICE_VOLUME_FONTS}, 'lib': {'name': ONLYOFFICE_VOLUME_LIB}, 'logs': {'name': ONLYOFFICE_VOLUME_LOGS}, 'pgdata': {'name': ONLYOFFICE_VOLUME_PGDATA}, 'rabbitmqdata': {'name': ONLYOFFICE_VOLUME_RABBITMQ}, 'redisdata': {'name': ONLYOFFICE_VOLUME_REDIS}}
) }}
