{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "{{ MATRIX_SYNAPSE_URL }}",
            "server_name": "{{ MATRIX_SYNAPSE_DOMAIN }}"
        },
        "m.identity_server": {
            "base_url": "{{ MATRIX_BASE_URL }}"
        }
    },
    "logout_redirect_url": "{{ OIDC.CLIENT.LOGOUT_URL if MATRIX_OIDC_ENABLED | bool else MATRIX_BASE_URL }}",
    "brand": "Element",
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api", {# nocheck: url #}
    "integrations_widgets_urls": [
        "https://scalar.vector.im/_matrix/integrations/v1", {# nocheck: url #}
        "https://scalar.vector.im/api", {# nocheck: url #}
        "https://scalar-staging.vector.im/_matrix/integrations/v1", {# nocheck: url #}
        "https://scalar-staging.vector.im/api" {# nocheck: url #}
    ],
    "bug_report_endpoint_url": "https://element.io/bugreports/submit", {# nocheck: url #}
    "uisi_autorageshake_app": "element-auto-uisi",
    "show_labs_settings": true,
    "room_directory": {
        "servers": ["matrix.org", "gitter.im", "libera.chat"]
    },
    "enable_presence_by_hs_url": {
        "https://matrix.org": false,
        "https://matrix-client.matrix.org": false {# nocheck: url #}
    },
    "terms_and_conditions_links": [
        {
            "url": "https://element.io/privacy",
            "text": "Privacy Policy"
        },
        {
            "url": "https://element.io/cookie-policy",
            "text": "Cookie Policy"
        }
    ],
    "sentry": {
        "dsn": "https://029a0eb289f942508ae0fb17935bd8c5@sentry.matrix.org/6",
        "environment": "develop"
    },
    "posthog": {
        "project_api_key": "phc_Jzsm6DTm6V2705zeU5dcNvQDlonOR68XvX2sh1sEOHO",
        "api_host": "https://posthog.element.io"
    },
    "privacy_policy_url": "https://element.io/cookie-policy",
    "features": {
        "feature_video_rooms": true,
        "feature_rust_crypto": true,
        "feature_new_room_decoration_ui": true
    },
    "element_call": {
        "url": "https://call.element.dev"
    },
    "map_style_url": "https://api.maptiler.com/maps/streets/style.json?key=fU3vlMsMn4Jb6dnEIFsx"
}
