server {
    server_name {{ domain }};
    {% include 'roles/sys-front-tls/templates/nginx_ssl_header.j2' %}

    # For the federation port
    listen {{ MATRIX_SYNAPSE_LISTEN_FLAGS }};
    listen [::]:{{ MATRIX_SYNAPSE_LISTEN_FLAGS }};

    {% include 'roles/sys-front-inj-all/templates/server.conf.j2'%}

    {% include 'roles/sys-svc-proxy/templates/location/html.conf.j2' %}

    {% include 'roles/sys-svc-proxy/templates/location/upload.conf.j2' %}

  {# Synapse uses the 'synapse' service key, so pass container_name explicitly.
     locations.conf.j2 guards itself via lookup('prometheus_integration_active'). #}
  {% set container_name = lookup('config', application_id, 'compose.services.synapse.name', '') %}
  {% include 'roles/web-app-prometheus/templates/nginx/locations.conf.j2' %}
}
