<?php
{% if NEXTCLOUD_SSO_ENABLED and ((NEXTCLOUD_OIDC_HOST | network_of) == 'tor') %}
return [
    'proxy' => '{{ NEXTCLOUD_TOR_SOCKS_PROXY }}',
    'proxyexclude' => [
{% for host in NEXTCLOUD_PROXY_EXCLUDED_HOSTS %}
        '{{ host }}',
{% endfor %}
    ],
    'social_login_http_client' => [
        'proxy' => '{{ NEXTCLOUD_TOR_SOCKS_PROXY }}',
    ],
];
{% else %}
return [];
{% endif %}
