{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  application:
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        JOOMLA_IMAGE: "{{ JOOMLA_IMAGE }}"
        JOOMLA_VERSION: "{{ JOOMLA_VERSION }}"
    image: "{{ JOOMLA_CUSTOM_IMAGE }}"
    container_name: {{ JOOMLA_CONTAINER }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
      - data:/var/www/html
      - {{ JOOMLA_UPLOAD_CONFIG }}:/usr/local/etc/php/conf.d/uploads.ini:ro
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'data': {'name': JOOMLA_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
