
{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  jira:
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        JIRA_IMAGE: "{{ JIRA_IMAGE }}"
        JIRA_VERSION: "{{ JIRA_VERSION }}"
        JIRA_STORAGE_PATH: "{{ JIRA_STORAGE_PATH }}"
    image: "{{ JIRA_CUSTOM_IMAGE }}"
    container_name: "{{ JIRA_CONTAINER }}"
    hostname: '{{ JIRA_HOSTNAME }}'
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:8080"
    volumes:
      - 'data:{{ JIRA_STORAGE_PATH }}'
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'data': {'name': JIRA_DATA_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
