{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ entity_name }}:
{% set container_port = 80 %}
    image: {{ PGADMIN_IMAGE }}:{{ PGADMIN_VERSION }}
    container_name: {{ entity_name }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:80"
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
    volumes:
      - "data:/var/lib/pgadmin"
{% if PGADMIN_SERVER_MODE | bool %}
      - "{{ pgadmin_host_server_file }}:{{ pgadmin_docker_server_file }}"
      - "{{ pgadmin_host_password_file }}:{{ pgadmin_docker_password_file }}"
{% endif %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'data': {}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
