{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
{% set container_port = 80 %}
    image: "{{ PHPMYADMIN_IMAGE }}:{{ PHPMYADMIN_VERSION }}"
    container_name: "{{ PHPMYADMIN_CONTAINER }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}

{{ lookup('applications') | compose_volumes( application_id) }}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
