"smtpServer": {
{% set email = lookup('email', application_id) %}
{% if email.enabled | bool %}
    "password": "{{ email.password }}",
    "replyToDisplayName": "",
    "starttls": "{{ email.start_tls | lower }}",
    "auth": "true",
    "port": "{{ email.port }}",
    "replyTo": "",
    "host": "{{ email.host }}",
    "from": "{{ email['from'] }}",
    "fromDisplayName": "Authentication System ({{ DOMAIN_PRIMARY | lower }})",
    "envelopeFrom": "",
    "ssl": "{{ (email.tls and not email.start_tls) | ternary('true','false') }}",
    "user": "{{ email.username }}"
{% endif %}
}