{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  application:
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        XWIKI_IMAGE: "{{ XWIKI_IMAGE }}"
        XWIKI_VERSION: "{{ XWIKI_VERSION }}"
        XWIKI_SUPERADMIN_PASSWORD: "{{ XWIKI_SUPERADMIN_PASSWORD }}"
    image: "{{ XWIKI_IMAGE_CUSTOM }}"
    container_name: "{{ XWIKI_CONTAINER }}"
    hostname: '{{ XWIKI_HOSTNAME}}'
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ XWIKI_HOST_PORT }}:{{ container_port }}"
    environment:
      JAVA_OPTS: >-
{% if xwiki_oidc_enabled_switch| bool %}
        -Dxwiki.authentication.authservice=oidc
        -Dxwiki.authentication.authclass=org.xwiki.contrib.oidc.auth.OIDCAuthServiceImpl
{% elif xwiki_ldap_enabled_switch | bool %}
        -Dxwiki.authentication.authclass=org.xwiki.contrib.ldap.XWikiLDAPAuthServiceImpl
        -Dxwiki.authentication.authservice=ldap
        -Dxwiki.authentication.ldap=1
        -Dxwiki.authentication.ldap.trylocal={{ (XWIKI_LDAP_TRYLOCAL | bool) | ternary(1, 0) }}
        -Dxwiki.authentication.ldap.group_mapping=XWiki.XWikiAdminGroup={{ XWIKI_LDAP_ADMIN_GROUP_DN }}
        -Dxwiki.authentication.ldap.mode_group_sync=always
        -Dxwiki.authentication.ldap.server={{ XWIKI_LDAP_SERVER }}
        -Dxwiki.authentication.ldap.port={{ XWIKI_LDAP_PORT }}
        -Dxwiki.authentication.ldap.base_DN={{ XWIKI_LDAP_BASE_DN }}
        -Dxwiki.authentication.ldap.bind_DN={{ XWIKI_LDAP_BIND_DN }}
        -Dxwiki.authentication.ldap.bind_pass={{ XWIKI_LDAP_BIND_PASS }}
        -Dxwiki.authentication.ldap.fields_mapping={{ XWIKI_LDAP_FIELDS_MAPPING }}
        -Dxwiki.authentication.ldap.update_user=1
{% else %}
        -Dxwiki.authentication.authservice=standard
        -Dxwiki.authentication.authclass=com.xpn.xwiki.user.impl.xwiki.XWikiAuthServiceImpl
{% endif %}
    volumes:
      - "{{ XWIKI_HOST_PROPERTIES_PATH }}:/usr/local/tomcat/webapps/ROOT/WEB-INF/xwiki.properties"
      - 'data:{{ XWIKI_DOCK_DATA_DIR }}'
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'data': {'name': XWIKI_DATA_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
