{% set email = lookup('email') %}
# Set default values for all following accounts.
defaults
logfile             ~/.msmtp.log
timeout             {{ email.timeout }}
syslog              {{ (MODE_DEBUG | bool) | ternary('on','off') }}
auth                {{ email.auth | ternary('on','off')}}
tls_starttls        {{ (email.start_tls | bool) | ternary('on','off') }}
tls                 {{ (email.tls | bool ) | ternary('on','off') }}
tls_trust_file      {{ '/etc/pki/tls/certs/ca-bundle.crt' if (ansible_facts['os_family'] | lower == 'redhat') else '/etc/ssl/certs/ca-certificates.crt' }}
tls_host_override   {{ email.host }}
account             system_email_no_reply
host                {{ '127.0.0.1' if (DOCKER_IN_CONTAINER | bool) else email.host }}
port                {{ email.port }}
from                {{ email['from'] }}
{% if (email.auth | bool) %}
user                {{ email.username }}
password            {{ email.password }}
{% endif %}
account default : system_email_no_reply
