{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  gitlab:
    image: "{{ GITLAB_IMAGE }}:{{ GITLAB_VERSION }}"
    hostname: '{{ GITLAB_HOSTNAME }}'
    container_name:  "{{ GITLAB_CONTAINER }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:80"
      - "{{ports.public.ssh[application_id]}}:22"
    volumes:
      - 'config:/etc/gitlab'
      - 'logs:/var/log/gitlab'
      - 'data:/var/opt/gitlab'
    shm_size: '256m'
{% include 'roles/sys-svc-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={'config': {'name': GITLAB_CONF_VOLUME}, 'data': {'name': GITLAB_DATA_VOLUME}, 'logs': {'name': GITLAB_LOGS_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
