{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume')
) }}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
  {{ DISCOURSE_NETWORK }}:
    external: true
