{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  mariadb:
    container_name:   "{{ MARIADB_NAME }}"
    image:            "{{ MARIADB_CUSTOM_IMAGE }}"
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        MARIADB_IMAGE:   "{{ MARIADB_IMAGE }}"
        MARIADB_VERSION: "{{ MARIADB_VERSION }}"
    command:
      - "--transaction-isolation=READ-COMMITTED"
      - "--binlog-format=ROW"

{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
{% if MARIADB_EXPOSE_LOCAL %}
    ports: 
      - "{{ DOCKER_BIND_HOST }}:{{ MARIADB_PORT }}:3306"
{% endif %}
    volumes:
      - "data:/var/lib/mysql"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    healthcheck:
      test:
        - "CMD-SHELL"
        - "mariadb {% if MARIADB_EXPOSE_LOCAL %}-h127.0.0.1 -P3306{% endif %} -u root -p\"$MARIADB_ROOT_PASSWORD\" -e 'SHOW DATABASES;'"
      interval: 10s
      timeout: 5s
      retries: 18

{{ lookup('applications') | compose_volumes(
    application_id,
    extra_volumes={'data': {'name': MARIADB_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
